{
  "openapi": "3.0.3",
  "info": {
    "title": "DingConnect API",
    "version": "V1",
    "description": "The DingConnect mobile top-up API (Ding / Ezetop Unlimited Company, Dublin): catalogue discovery (countries, providers, products, promotions), account lookup, price estimation, and instant top-up transfers to 5B+ phones worldwide.\n\nThis definition was authored by Voxgig from DingConnect's public developer documentation (dingconnect.com/Api) and the community Go client vlab-research/go-dingconnect, because DingConnect's own swagger definition requires an API key to download. DingConnect's docs invite generating client SDKs from the swagger definition; replace this file with the first-party definition when a key is available.\n\nApplication-level failure is reported in the body with HTTP 200: ResultCode (1 success, 2 partial, 4 failed) is the real signal, with ErrorCodes enumerated by GetErrorCodeDescriptions.",
    "contact": {
      "url": "https://www.dingconnect.com/Api"
    }
  },
  "externalDocs": {
    "url": "https://www.dingconnect.com/Api",
    "description": "DingConnect developer portal"
  },
  "servers": [
    {
      "url": "https://api.dingconnect.com/api/V1",
      "description": "Production (no sandbox; use SendTransfer.ValidateOnly for dry runs)"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Balance and error-code reference"
    },
    {
      "name": "Catalogue",
      "description": "Countries, currencies, regions, providers, products, promotions"
    },
    {
      "name": "Transfers",
      "description": "Account lookup, price estimation, sending, history, cancellation"
    }
  ],
  "paths": {
    "/GetBalance": {
      "get": {
        "operationId": "GetBalance",
        "tags": [
          "Account"
        ],
        "summary": "Get the distributor account balance",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          }
        }
      }
    },
    "/GetCountries": {
      "get": {
        "operationId": "GetCountries",
        "tags": [
          "Catalogue"
        ],
        "summary": "List every supported destination country",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Countries"
                }
              }
            }
          }
        }
      }
    },
    "/GetCurrencies": {
      "get": {
        "operationId": "GetCurrencies",
        "tags": [
          "Catalogue"
        ],
        "summary": "List every currency DingConnect can quote in",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currencies"
                }
              }
            }
          }
        }
      }
    },
    "/GetRegions": {
      "get": {
        "operationId": "GetRegions",
        "tags": [
          "Catalogue"
        ],
        "summary": "List billing regions",
        "description": "Optionally narrowed to given countries.",
        "parameters": [
          {
            "name": "countryIsos",
            "in": "query",
            "description": "Restrict to these ISO country codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Regions"
                }
              }
            }
          }
        }
      }
    },
    "/GetProviders": {
      "get": {
        "operationId": "GetProviders",
        "tags": [
          "Catalogue"
        ],
        "summary": "List carriers and merchants",
        "description": "All filters optional; an empty filter returns every provider.",
        "parameters": [
          {
            "name": "providerCodes",
            "in": "query",
            "description": "Restrict to these provider codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "countryIsos",
            "in": "query",
            "description": "Restrict to these ISO country codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "regionCodes",
            "in": "query",
            "description": "Restrict to these region codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Restrict to providers valid for this account number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Providers"
                }
              }
            }
          }
        }
      }
    },
    "/GetProviderStatus": {
      "get": {
        "operationId": "GetProviderStatus",
        "tags": [
          "Catalogue"
        ],
        "summary": "Report whether providers are currently processing transfers",
        "description": "With no codes, returns the status of every provider. Checking before a batch avoids burning retries against a provider that is knowingly down.",
        "parameters": [
          {
            "name": "providerCodes",
            "in": "query",
            "description": "Restrict to these provider codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderStatuses"
                }
              }
            }
          }
        }
      }
    },
    "/GetProducts": {
      "get": {
        "operationId": "GetProducts",
        "tags": [
          "Catalogue"
        ],
        "summary": "List sellable SKUs",
        "description": "All filters optional, but an unfiltered call returns the entire global catalogue, which is large - filter by country or provider in anything interactive.",
        "parameters": [
          {
            "name": "countryIsos",
            "in": "query",
            "description": "Restrict to these ISO country codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "providerCodes",
            "in": "query",
            "description": "Restrict to these provider codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "skuCodes",
            "in": "query",
            "description": "Restrict to these SKU codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "regionCodes",
            "in": "query",
            "description": "Restrict to these region codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "benefits",
            "in": "query",
            "description": "Restrict to SKUs carrying these benefits.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Restrict to SKUs valid for this account number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Products"
                }
              }
            }
          }
        }
      }
    },
    "/GetProductDescriptions": {
      "get": {
        "operationId": "GetProductDescriptions",
        "tags": [
          "Catalogue"
        ],
        "summary": "Get human-readable copy for SKUs",
        "description": "Results are keyed by LocalizationKey, which is not always equal to SkuCode.",
        "parameters": [
          {
            "name": "languageCodes",
            "in": "query",
            "description": "Language codes to localise into.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "skuCodes",
            "in": "query",
            "description": "Restrict to these SKU codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDescriptions"
                }
              }
            }
          }
        }
      }
    },
    "/GetPromotions": {
      "get": {
        "operationId": "GetPromotions",
        "tags": [
          "Catalogue"
        ],
        "summary": "List active promotional offers",
        "description": "",
        "parameters": [
          {
            "name": "countryIsos",
            "in": "query",
            "description": "Restrict to these ISO country codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "providerCodes",
            "in": "query",
            "description": "Restrict to these provider codes.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Restrict to promotions valid for this account number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Promotions"
                }
              }
            }
          }
        }
      }
    },
    "/GetPromotionDescriptions": {
      "get": {
        "operationId": "GetPromotionDescriptions",
        "tags": [
          "Catalogue"
        ],
        "summary": "Get human-readable copy for promotions",
        "description": "",
        "parameters": [
          {
            "name": "languageCodes",
            "in": "query",
            "description": "Language codes to localise into.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionDescriptions"
                }
              }
            }
          }
        }
      }
    },
    "/GetErrorCodeDescriptions": {
      "get": {
        "operationId": "GetErrorCodeDescriptions",
        "tags": [
          "Account"
        ],
        "summary": "Get the authoritative error-code table",
        "description": "Useful for rendering a failure to a human without hardcoding messages.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCodeDescriptions"
                }
              }
            }
          }
        }
      }
    },
    "/GetAccountLookup": {
      "get": {
        "operationId": "GetAccountLookup",
        "tags": [
          "Transfers"
        ],
        "summary": "Resolve an account number to the providers and SKUs that can top it up",
        "description": "A ResultCode 2 (partial) response is common and not necessarily a problem: the number was normalised but no exact provider match was found; the response still carries CountryIso and AccountNumberNormalized.",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "query",
            "description": "The account (phone) number to resolve.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLookup"
                }
              }
            }
          }
        }
      }
    },
    "/EstimatePrices": {
      "post": {
        "operationId": "EstimatePrices",
        "tags": [
          "Transfers"
        ],
        "summary": "Price a batch of prospective transfers without sending them",
        "description": "The endpoint takes a bare JSON array. Each request needs a unique BatchItemRef; responses carry it back for correlation since ordering is not guaranteed. The batch can succeed overall while individual estimates carry their own failing status.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EstimatePriceRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estimates"
                }
              }
            }
          }
        }
      }
    },
    "/SendTransfer": {
      "post": {
        "operationId": "SendTransfer",
        "tags": [
          "Transfers"
        ],
        "summary": "Send a top-up",
        "description": "Moves real money unless ValidateOnly is set. DistributorRef is the idempotency key: retrying with the same ref is safe (DuplicateTransactionPrevented); a fresh ref on retry risks sending twice. The response carries a TransferRecord on failure as well as success. There is no sandbox environment; use ValidateOnly to exercise this path without moving money.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendTransferResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ListTransferRecords": {
      "post": {
        "operationId": "ListTransferRecords",
        "tags": [
          "Transfers"
        ],
        "summary": "List a page of transfer history",
        "description": "Skip and Take paginate; Take must be within the permitted range or the call fails with ParameterOutOfRange.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTransferRecordsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferRecords"
                }
              }
            }
          }
        }
      }
    },
    "/CancelTransfers": {
      "post": {
        "operationId": "CancelTransfers",
        "tags": [
          "Transfers"
        ],
        "summary": "Request cancellation of one or more transfers",
        "description": "The endpoint takes a bare JSON array. Each request needs a unique BatchItemRef and identifies its transfer by either DistributorRef or TransferRef.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CancelTransferRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Check ResultCode in the body: application-level failure is reported with HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResults"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key",
        "description": "DingConnect API key, sent as the api_key header (not X-Api-Key). Obtain from the DingConnect developer portal."
      }
    },
    "schemas": {
      "ErrorCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string"
          },
          "Context": {
            "type": "string",
            "nullable": true
          }
        },
        "description": "One application-level error. Codes are enumerated by GetErrorCodeDescriptions."
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          }
        },
        "description": "Envelope embedded in every response."
      },
      "Price": {
        "type": "object",
        "properties": {
          "CustomerFee": {
            "type": "number",
            "format": "double"
          },
          "DistributorFee": {
            "type": "number",
            "format": "double"
          },
          "ReceiveValue": {
            "type": "number",
            "format": "double",
            "description": "What lands in the subscriber's account."
          },
          "ReceiveCurrencyIso": {
            "type": "string"
          },
          "ReceiveValueExcludingTax": {
            "type": "number",
            "format": "double"
          },
          "TaxRate": {
            "type": "number",
            "format": "double"
          },
          "SendValue": {
            "type": "number",
            "format": "double",
            "description": "What the distributor is charged. Differs from ReceiveValue by fees, tax and FX."
          },
          "SendCurrencyIso": {
            "type": "string"
          }
        },
        "description": "Pricing breakdown, used both for product bounds and realised transfer prices."
      },
      "Balance": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Balance": {
            "type": "number",
            "format": "double"
          },
          "CurrencyIso": {
            "type": "string"
          }
        },
        "description": "Distributor account balance."
      },
      "InternationalDialingInformation": {
        "type": "object",
        "properties": {
          "Prefix": {
            "type": "string"
          },
          "MinimumLength": {
            "type": "integer"
          },
          "MaximumLength": {
            "type": "integer"
          }
        },
        "description": "A valid phone number shape for a country."
      },
      "Country": {
        "type": "object",
        "properties": {
          "CountryIso": {
            "type": "string"
          },
          "CountryName": {
            "type": "string"
          },
          "InternationalDialingInformation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InternationalDialingInformation"
            }
          },
          "RegionCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "CurrencyIso": {
            "type": "string"
          },
          "CurrencyName": {
            "type": "string"
          }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "RegionCode": {
            "type": "string"
          },
          "RegionName": {
            "type": "string"
          },
          "CountryIso": {
            "type": "string"
          }
        },
        "description": "Sub-national billing region. Single-region countries report one region whose code equals the country ISO."
      },
      "Provider": {
        "type": "object",
        "properties": {
          "ProviderCode": {
            "type": "string"
          },
          "CountryIso": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "ValidationRegex": {
            "type": "string",
            "description": "The provider's own account-number pattern. Cheap local pre-check; not a substitute for GetAccountLookup."
          },
          "CustomerCareNumber": {
            "type": "string"
          },
          "RegionCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "PaymentTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "LogoUrl": {
            "type": "string"
          }
        },
        "description": "A carrier or merchant that can be topped up."
      },
      "ProviderStatus": {
        "type": "object",
        "properties": {
          "ProviderCode": {
            "type": "string"
          },
          "IsProcessingTransfers": {
            "type": "boolean"
          },
          "Message": {
            "type": "string"
          }
        },
        "description": "Whether a provider is currently processing transfers."
      },
      "SettingDefinition": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "IsMandatory": {
            "type": "boolean"
          }
        },
        "description": "An extra field a product requires beyond the account number (e.g. a utility meter ID). Mandatory settings must be supplied in SendTransfer Settings."
      },
      "Product": {
        "type": "object",
        "properties": {
          "ProviderCode": {
            "type": "string"
          },
          "SkuCode": {
            "type": "string"
          },
          "LocalizationKey": {
            "type": "string",
            "description": "Key for GetProductDescriptions; not always equal to SkuCode."
          },
          "SettingDefinitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SettingDefinition"
            }
          },
          "Maximum": {
            "$ref": "#/components/schemas/Price"
          },
          "Minimum": {
            "$ref": "#/components/schemas/Price"
          },
          "CommissionRate": {
            "type": "number",
            "format": "double"
          },
          "ProcessingMode": {
            "type": "string"
          },
          "RedemptionMechanism": {
            "type": "string"
          },
          "Benefits": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ValidityPeriodIso": {
            "type": "string"
          },
          "UatNumber": {
            "type": "string"
          },
          "DefaultDisplayText": {
            "type": "string"
          },
          "RegionCode": {
            "type": "string"
          },
          "PaymentTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "LookupBillsRequired": {
            "type": "boolean"
          }
        },
        "description": "A sellable SKU. Minimum and Maximum bound the accepted SendValue; the product is fixed-price when they are equal."
      },
      "ProductDescription": {
        "type": "object",
        "properties": {
          "DisplayText": {
            "type": "string"
          },
          "DescriptionMarkdown": {
            "type": "string"
          },
          "ReadMoreMarkdown": {
            "type": "string"
          },
          "LocalizationKey": {
            "type": "string"
          },
          "LanguageCode": {
            "type": "string"
          }
        },
        "description": "Human-readable copy for a SKU, keyed by LocalizationKey."
      },
      "Promotion": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "ProviderCode": {
            "type": "string"
          },
          "CountryIso": {
            "type": "string"
          },
          "SkuCode": {
            "type": "string"
          },
          "StartDateUtc": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateUtc": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "An active promotional offer."
      },
      "PromotionDescription": {
        "type": "object",
        "properties": {
          "LocalizationKey": {
            "type": "string"
          },
          "LanguageCode": {
            "type": "string"
          },
          "DisplayText": {
            "type": "string"
          },
          "DescriptionMarkdown": {
            "type": "string"
          }
        }
      },
      "ErrorCodeDescription": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          }
        },
        "description": "The authoritative error-code table entry."
      },
      "AccountLookupItem": {
        "type": "object",
        "properties": {
          "ProviderCode": {
            "type": "string"
          },
          "SkuCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AccountLookup": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "CountryIso": {
            "type": "string"
          },
          "AccountNumberNormalized": {
            "type": "string"
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountLookupItem"
            }
          }
        },
        "description": "Resolution of an account number to the providers/SKUs that can top it up. ResultCode 2 with a NearestMatch error means the number was normalised but no exact provider match was found; CountryIso and AccountNumberNormalized are still populated."
      },
      "EstimatePriceRequest": {
        "type": "object",
        "properties": {
          "BatchItemRef": {
            "type": "string",
            "description": "Mandatory and unique within the batch; responses are correlated by it, ordering is not guaranteed."
          },
          "SkuCode": {
            "type": "string"
          },
          "SendValue": {
            "type": "number",
            "format": "double"
          },
          "SendCurrencyIso": {
            "type": "string"
          },
          "AccountNumber": {
            "type": "string"
          }
        },
        "required": [
          "BatchItemRef",
          "SkuCode",
          "SendValue"
        ],
        "description": "One item in an EstimatePrices batch."
      },
      "Estimate": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Price": {
            "$ref": "#/components/schemas/Price"
          },
          "SkuCode": {
            "type": "string"
          },
          "BatchItemRef": {
            "type": "string"
          }
        },
        "description": "One priced result. Items carry their own status: a batch can succeed overall while individual items fail."
      },
      "TransferId": {
        "type": "object",
        "properties": {
          "DistributorRef": {
            "type": "string",
            "description": "Caller-supplied idempotency key."
          },
          "TransferRef": {
            "type": "string",
            "description": "Assigned by DingConnect; what support will ask for."
          }
        }
      },
      "TransferRecord": {
        "type": "object",
        "properties": {
          "TransferId": {
            "$ref": "#/components/schemas/TransferId"
          },
          "SkuCode": {
            "type": "string"
          },
          "Price": {
            "$ref": "#/components/schemas/Price"
          },
          "CommissionApplied": {
            "type": "number",
            "format": "double"
          },
          "StartedUtc": {
            "type": "string",
            "format": "date-time"
          },
          "CompletedUtc": {
            "type": "string",
            "format": "date-time"
          },
          "ProcessingState": {
            "type": "string",
            "enum": [
              "Completed",
              "Failed",
              "Submitted"
            ]
          },
          "ReceiptText": {
            "type": "string"
          },
          "AccountNumber": {
            "type": "string"
          }
        },
        "description": "The outcome of a transfer. Populated on failure as well as success."
      },
      "Setting": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Value": {
            "type": "string"
          }
        },
        "description": "A product-specific extra field, matching a SettingDefinition."
      },
      "SendTransferRequest": {
        "type": "object",
        "properties": {
          "SkuCode": {
            "type": "string"
          },
          "SendValue": {
            "type": "number",
            "format": "double"
          },
          "SendCurrencyIso": {
            "type": "string"
          },
          "AccountNumber": {
            "type": "string"
          },
          "DistributorRef": {
            "type": "string",
            "description": "Idempotency key. Retrying with the same ref is safe (DuplicateTransactionPrevented); a fresh ref on retry risks sending twice."
          },
          "ValidateOnly": {
            "type": "boolean",
            "description": "Run full validation and balance check without moving money."
          },
          "Settings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Setting"
            }
          }
        },
        "required": [
          "SkuCode",
          "SendValue",
          "AccountNumber",
          "DistributorRef"
        ]
      },
      "SendTransferResponse": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "TransferRecord": {
            "$ref": "#/components/schemas/TransferRecord",
            "nullable": true
          }
        },
        "description": "Carries a TransferRecord on failure as well as success."
      },
      "ListTransferRecordsRequest": {
        "type": "object",
        "properties": {
          "Skip": {
            "type": "integer"
          },
          "Take": {
            "type": "integer",
            "description": "Must be within the permitted page-size range; zero or out-of-range fails with ParameterOutOfRange."
          },
          "DistributorRefs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "TransferRefs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "AccountNumber": {
            "type": "string"
          },
          "SkuCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "StartedAtUtc": {
            "type": "string",
            "format": "date-time"
          },
          "EndedAtUtc": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "Skip",
          "Take"
        ]
      },
      "TransferRecords": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransferRecord"
            }
          },
          "ThereAreMoreItems": {
            "type": "boolean"
          }
        },
        "description": "A page of transfer history."
      },
      "CancelTransferRequest": {
        "type": "object",
        "properties": {
          "BatchItemRef": {
            "type": "string"
          },
          "DistributorRef": {
            "type": "string"
          },
          "TransferRef": {
            "type": "string"
          }
        },
        "required": [
          "BatchItemRef"
        ],
        "description": "Identify the transfer by either DistributorRef or TransferRef."
      },
      "CancelResult": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "BatchItemRef": {
            "type": "string"
          },
          "TransferId": {
            "$ref": "#/components/schemas/TransferId"
          }
        }
      },
      "Countries": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Country"
            }
          }
        }
      },
      "Currencies": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Currency"
            }
          }
        }
      },
      "Regions": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Region"
            }
          }
        }
      },
      "Providers": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Provider"
            }
          }
        }
      },
      "ProviderStatuses": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderStatus"
            }
          }
        }
      },
      "Products": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "ProductDescriptions": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductDescription"
            }
          }
        }
      },
      "Promotions": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Promotion"
            }
          }
        }
      },
      "PromotionDescriptions": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PromotionDescription"
            }
          }
        }
      },
      "ErrorCodeDescriptions": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCodeDescription"
            }
          }
        }
      },
      "Estimates": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Estimate"
            }
          }
        }
      },
      "CancelResults": {
        "type": "object",
        "properties": {
          "ResultCode": {
            "type": "integer",
            "description": "1 = success, 2 = partial success (e.g. nearest match), 4 = failed. Application-level failure is reported here with HTTP 200; this, not the HTTP status, is the real signal."
          },
          "ErrorCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorCode"
            }
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CancelResult"
            }
          }
        }
      }
    }
  }
}